@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap");
:root {
  --my-dark-blue: #19283f;
  --my-blue: #0a70c0;
  --my-cyan: #33d1cc;
  --my-gold: #ffc400;
  --my-red: #c06;
  --my-light: #eee;
  --my-shade: #eff7fa;
  --my-shadow: 1px 3px 1px #00000060;
}
body {
  font-family: "Baloo Tamma 2", "Roboto", sans-serif;
  font-weight: 500;
}
.main_btn {
  color: #f8f9fa;
  background-color: var(--my-red);
  border: none;
  padding: 0.2rem 1rem 0;
  text-transform: uppercase;
  line-height: 2rem;
}
.main_btn:hover {
  color: var(--my-gold);
  background-color: var(--my-red);
}
.main_title img {
  filter: drop-shadow(1px 6px 3px #00000030);
}
.main_title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 120px;
  background-color: var(--my-cyan);
}
/* ===>> nav bar <<=== */
.navbar {
  background-color: var(--my-dark-blue);
}
.navbar .navbar-brand {
  color: var(--my-light);
  font-size: 2rem;
  text-shadow: var(--my-shadow);
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1rem;
}
.navbar .navbar-brand img {
  filter: brightness(120%) drop-shadow(var(--my-shadow));
}
.navbar .navbar-nav .nav-link {
  color: var(--my-light);
}
.navbar .navbar-toggler {
  color: var(--my-light);
  border-color: var(--my-light);
  font-size: 1.4rem;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link.active {
  color: var(--my-cyan);
  border-color: var(--my-cyan);
}
.navbar .search {
  border-left: 1px solid;
}
.navbar .search,
.navbar .search svg {
  color: var(--my-cyan);
}

/* ===>> nav bar <<=== */
.landing {
  background-color: var(--my-dark-blue);
  height: calc(100vh - 56px);
}
.landing img {
  filter: drop-shadow(1rem -1.4rem 0.2rem #00000040);
}
/* ===>> features <<=== */

.icon-holder {
  height: 200px;
}
.feat .number,
.feat .icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.feat .icon {
  bottom: 12px;
  color: var(--my-cyan);
}
.feat .number {
  color: var(--my-shade);
  font-size: 12rem;
  bottom: 0;
}
.feat h4 {
  color: var(--my-gold);
}
/* ===>> Portofolio <<=== */

#Portofolio {
  background-color: var(--my-shade);
}
#Portofolio ul .active {
  background-color: var(--my-red);
  color: var(--my-gold);
}
#Portofolio ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
#Portofolio ul li:not(.active):hover {
  color: var(--my-red);
}
#Portofolio .box {
  height: 200px;
  width: 300px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  margin: auto;
}
#Portofolio .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: #33d1cc56;
  width: calc(100% - 10px);
  height: calc(100% - -10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--my-light);
  transition: 0.3s;
  font-size: 1.4rem;
  transform: translateX(calc(-100% - 5px));
}
#Portofolio .box:hover::before {
  transform: translateX(0);
}
.stuff .description {
  max-width: 500px;
}
